@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* ================= VARIABLES =============== */
:root{
  
    /* ===== COLORS ======  */
    --blue-light: #74B7E2;
    --blue-light-linear-gradient: linear-gradient(to right, var(--blue-light), var(--white));
    --white: #FFFFFF;
    --black: #000000;
    --dark-blue: #040821;

    --very-small-font-size: 1.1rem ;
    --small-font-size: 1.2rem;
    --medium-font-size:1.5rem;
    --large-font-size:1.8rem;
    --very-large-font-size: 2.3rem;


    --small-title:3rem;
    --medium-title: 3.5rem;


    --small-padding: 15px;
    --medium-padding: 30px 0;
    --small-padding-bottom:.8rem;

    --small-line-height: 50px;

    --row-gap: 50px;
    --small-row-gap: 30px;

    --width-button: 200px;
    --width-social: 300px;

    --width-btn-slider: 30%;

    --side-font-size: 50px;
    --side-top: 50%;

}



/* ================ GLOBAL ================= */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    border: none;
    outline: none;
}

html,body{
    width:100%;
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
    width:95vw;
    max-width:1300px
}


section{
    width: 100%;
    height: 100vh;
}

/* ================= NAV ============== */

.navbar{
    width:100%;
    position:fixed;
    padding: var(--medium-padding);
    transition: all 0.3s ease;
    z-index: 99;
    
}

.navbar.sticky{
    padding: var(--small-padding);
    background: var(--dark-blue);
}

.nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.nav-link{
    list-style: none;
}

.nav-link a{
    position: relative;
    color: var(--white);
    font-size: var(--small-font-size);
    transition: all .3s ease;
    padding-bottom: var(--small-padding-bottom);
}

.nav-link a:hover{
    color: var(--blue-light);
}

.nav-link a::before{
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height: .3rem;
    background: red;
    background: linear-gradient(to right, var(--blue-light), var(--white));
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s;
    border-radius: .5rem;
}

.nav-link a:hover::before{
    opacity: 1;
    transform: scaleX(1);
}


.menu-btn{
    color: white;
    font-size: var(--small-font-size);
    cursor: pointer;
    display: none;
    margin-left: 3%;
}




/* =================== HOME ================ */

.home{
    background-image: linear-gradient(rgba(17, 17, 19,85%), rgba(17, 17, 19,75%) ) ,url('../images/pexels-hristo-fidanov-1252869.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* width:100vw; */
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-container{
    display: grid;
    text-align: center;
    justify-items: center;
    row-gap: 30px;
}

.home-title{
    font-size: var(--medium-title);
    color: var(--white);
}

.description-home{
    font-size: var(--small-title);
    color: var(--blue-light);
}

.button{
    width: var(--width-button);
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    color: var(--blue-light);
    cursor: pointer;
    font-size: var(--small-font-size);
    border: 2px solid var(--blue-light);
    transition: all .3s ease;
}

.button:hover{
    background: var(--blue-light);
    color: var(--white);
    transform: scale(1.2);
}

/* ===================== ABOUT =============== */

.about{
    height: 100vh;
    background: var(--white);
}

.about-container{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.informations-container{
    width: 70%;
    display: grid;
    row-gap: var(--row-gap);
}

.section-title{
    font-size: var(--medium-title);
    text-align: center;
}

.about-title{
    color: var(--blue-light);
}

.text-section{
    font-size:  var(--large-font-size);
    text-align: center;
}

.text-about{
    color: var(--black);
}

.text-section p{
    line-height: var(--small-line-height);
}

.strong-text{
    color: var(--blue-light);
    font-weight: bold;
}


.txt-type > .txt{
    border-right: 3px solid var(--blue-light);
}



/* ======================== PORTFOLIO ============== */

.portfolio{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    
}

.portfolio-container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--white);
}

.project{
    max-width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.content-portfolio{
    display: grid;
    justify-items: center;
    justify-content: center;
    position: relative;
    row-gap: var(--small-row-gap);
}

.project-name{
    font-size: var(--large-font-size);
    text-align: center;
}

.project-name a{
    color: var(--blue-light);
}

.btn-slider{
    width: var(--width-btn-slider);
    display: flex;
    justify-content: space-between;
}

.btn-slider span{
    width: 20px;
    height: 20px;
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.side{
    position: absolute;
    top: var(--side-top);
}

.left{
    /* left: -30px; */
    left: 2%;
}

.right{
    right: 2%;
}

.side span{
    padding: 10px;
    color: var(--white);
    font-size: var(--side-font-size);
    transition: all .3s ease;
}

.side:hover span{
    color: var(--blue-light);
}

.btn-slider .current{
    background: var(--blue-light);
}


/* =================== CONTACT ============== */
.contact-container{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    color: var(--blue-light);
    row-gap: var(--row-gap);
}

.social-container{
    width: 100%;
    display: grid;
    justify-items: center;
    
    row-gap: var(--small-row-gap);
}

.social-box{
    width: var(--width-social);
    border: 3px solid var(--blue-light);
    font-size: var(--very-large-font-size);
    border-radius: 30px;
    text-align: center;
}


/* ================= FOOTER ================ */

.footer{
    width: 100%;
    padding: var(--small-padding);
    background: var(--dark-blue);
    padding: var(--medium-padding);
}

.footer-text{
    font-size: var(--very-small-font-size);
    color: var(--white);
}

.footer-container{
    display: grid;
    justify-content: center;
    justify-items: center;
}

/* =================== MEDIA ============= */

@media screen and (min-width:1750px){
    :root{
        --small-title:4rem;
        --medium-title: 5rem;

        --small-font-size: 2rem;
        --medium-font-size:2.5rem;
        --large-font-size:3rem;
        /* --very-large-font-size: 3.5rem; */

        --width-button: 300px;
        --wdith-social: 400px;

    }
}

@media screen and (max-width:947px){

    :root{
    --small-title:2.5rem;
    --medium-title: 3rem;


    --small-font-size: 1rem;
    --medium-font-size:1.2rem;
    --large-font-size:1.5rem;
    --very-large-font-size: 3rem

    --row-gap: 20px;


    }



    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: '\f00d';
    }

    .nav-ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--dark-blue);
        text-align: center;
        transition: all .3s ease;
        z-index: -1;
        flex-direction: column;
        justify-content: center;
    }

    .nav-ul.active{
        left: 0;
    }

    .nav-link{
        padding: var(--medium-padding);
    }

    .nav-link a{
        font-size: var(--large-font-size);
    }


    /* About */

    .informations-container{
        width: 90%;
    }

}


@media screen and (max-width: 690px){
    :root{
        --small-title:2rem;
        --medium-title: 2.3rem;

        --width-btn-slider: 35%;

        --side-font-size: 30px;
        --side-top: 60%;

        --width-social: 200px;

        }
}
